* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  width: 300px;
  margin: 60px auto;
  box-shadow: 0 0 5px #ccc;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
form input {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  outline: 1px solid #ccc;
  border-radius: 2px;
}
form button {
  padding: 5px;
  background-color: rgb(0, 85, 255);
  border: none;
  border-radius: 2px;
  color: white;
  box-shadow: 0 1px 2px #ccc;
  transition: all 0.5s;
}
form button:hover {
  background-color: rgb(4, 74, 213);
  box-shadow: 0 0 2px #222;
}
form #err {
  color: red;
}
form input:focus,
form input:focus-visible {
  outline: 1px solid red;
}
