<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="flexbox.css" />
  </head>
  <body>
    <header class="hero-banner">
      <nav>
        <a class="brand-logo" href="#">FinWing</a>
        <ul>
          <li class="current">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">How It Works</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Cases</a>
          </li>
          <li>
            <a href="#">Pricing</a>
          </li>
          <li>
            <a href="#">Team</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a class="btn-action" href="#">Get a Quote</a>
          </li>
        </ul>
      </nav>

      <div class="hero-content">
        <h1>Grow Your Business <span>With Us</span></h1>
        <p>
          Morbi et nisl a sapien malesuada scelerisque. Suspendisse tempor
          turpis mattis
        </p>

        <div class="action-links">
          <a href="#">Learn More</a>
          <a href="#">Get a Qoute</a>
        </div>
      </div>
    </header>
  </body>
</html>
